body {
  font-family: sans-serif;
  background-image: url("./the-wall.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none;
}

.italic {
  font-style: italic;
}

.inline-block {
  display: inline-block;
  margin-right: 10px;
}

h1, h3 {
  font-family: 'Fondamento', cursive;
}

h1 {
  text-align: center;
  color: #143D67;
}

.text {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  background: rgba(255,255,255,0.6);
}

.col {
  margin-top: 20px;
}

a {
  color: #143D67;
}

.card-body a {
  color: #007bff;
}

.card-body a:hover {
  color: #007bff;
}

a:hover {
  color: #5B202B;
}
